

.Sale {
    display: flex;
    width: 20%;
    border: .1vw solid #faad3d;
    background-color: white;

    @media (max-device-width: 767px) {
        margin: 30px;
        width: auto;
        height: 580px;
    }

    &__Img {
        width: 8vw;
        height: 8vw;
        margin-bottom: 2vw;

        @media (max-device-width: 767px) {
            width: 200px;
            height: 200px;
        }
    }
    
    &__Content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 3vw 2vw;

        span {
            font-size: 1.3vw;

            @media (max-device-width: 767px) {
                font-size: 30px;
                font-family: MyriadPro_Light;
            }
        }

        span:nth-child(3n) {
            font-size: 2.4vw;

            @media (max-device-width: 767px) {
                font-family: MyriadPro_Regular;
                font-size: 56px;
            }
        }

        a {
            margin-top: .5vw;
            color: #faad3d;
            font-size: 1.2vw;

            @media (max-device-width: 767px) {
                font-size: 40px;
                margin-top: 40px;
            }

            img {
                margin-left: .5vw;
                height: .7vw;

                @media (max-device-width: 767px) {
                    height: 20px;       
                    margin-left: 20px;
                }
            }
        }
    }
}