.Seo {
    display: flex;
    justify-content: space-between;
    margin: 3vw 10vw;

    &__Content {
        display: flex;
        flex-direction: column;
        width: 60%;

        @media (max-device-width: 767px) {
            width: auto;
        }
    }

    &__Header {
        font-size: 2.4vw;
        margin-bottom: .8vw;

        @media (max-device-width: 767px) {
            font-size: 65px; 
        }
    }

    &__Title {
        font-family: MyriadPro_Light;
        font-size: 2vw;
        margin: .8vw 0;

        @media (max-device-width: 767px) {
            display: none; 
        }
    }

    &__Text {
        font-family: MyriadPro_Light;
        font-size: 1.3vw;

        @media (max-device-width: 767px) {
            font-size: 40px;

            &:nth-child(4n) {
                display: none; 
            }
        }
    }

    &__About {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 10vw;
        }

        &Brand {
            margin-top: 1vw;
            font-size: 3vw;
        }

        &Group {
            margin-top: 1vw;
            font-size: 1.4vw;
        }

        & > span:nth-child(3n) {
            color: gray;
            font-size: 1vw;
        }

        span:nth-child(5n) {
            color: gray;
            margin-bottom: 1vw;
            font-size: 1.2vw;
        }

        @media (max-device-width: 767px) {
            margin: 150px 75px;  

            img {
                width: 300px;
            }

            &Brand {
                margin-top: 30px;
                font-size: 60px;
            }

            &Group {
                margin-top: 30px;
                font-size: 40px;
            }

            & > span {
                &:nth-child(3n), &:nth-child(5n) {
                    font-size: 28px;
                    font-family: MyriadPro_Light;
                }
            }

            div {
                span {
                    color: black;
                    font-size: 32px;
                    font-family: MyriadPro_Light;
                }
            }
        }
    }

    &__Indicators {
        display: flex;
        flex-direction: column;

        span {
            font-size: 1vw;
        }
    }

    &__AddButton {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.5vw;

        width: 4vw;
        height: 4vw;
        border-radius: 50%;
        background-color: black;

        color: white;
        font-size: 2vw;

        @media (max-device-width: 767px) {
            width: 120px;
            height: 120px;
            font-size: 60px;
            margin-top: 40px;
        }
    }

    @media (max-device-width: 767px) {
        flex-direction: column-reverse;
        margin: 30px;
    }
}