.Block2 {
    display: flex;
    height: 430px;
    margin: 0 50px;
    justify-content: space-between;

    @media (max-device-width: 767px) {
        flex-direction: column;
        height: auto;
        margin: 0;
    }
}