.Service {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: 1vw;
    height: 100%;

    background-size: cover;
    background-position-x: right;

    &__Content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 3vw;
        width: 90%;
        height: 90%;

        span {
            font-size: 2.4vw;
            color:white;
        }

        span:nth-child(2n), a {
            font-family: MyriadPro_Light;
            font-size: 1.6vw;
            color:white;
        }

        @media (max-device-width: 767px) {
            span {
                font-size: 60px;
            }

            span:nth-child(2n) {
                margin-top: 20px;
                margin-bottom: 40px;
            }

            span:nth-child(2n), a {
                font-size: 40px;
            }
        }
    }

    @media (max-device-width: 767px) {
        width: 100%;
        height: 750px;
        margin: 0;
    }
}