.CatalogMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vw;
    background-color: white;
    box-shadow: 0 0 1vw lightgray;

    &__Item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;

        span {
            font-size: 1vw; 
        }
    }

    &__Item:first-child {
        margin-left: 5vw;
    }

    &__Item:last-child {
        margin-right: 5vw;
    }

    &__Circle {
        display: flex;
        height: 4vw;
        width: 4vw;
        overflow: hidden;
        border-radius: 50%;
        background: linear-gradient(lightgray, darkgray);

        img {
            position: relative;
            bottom: 2vw;
            height: 6vw;
            width: 6vw;
        }
    }

    @media (max-device-width: 767px) {
        display: none;
    }
}