.Block1 {
    display: flex;
    margin: 1.2vw 5vw;
    height: 30vw;
    justify-content: space-between;

    @media (max-device-width: 767px) {
        flex-direction: column;
        height: auto;
        margin: 0;
        margin-top: 13vw;
    }
}